.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgba(39, 91, 245, 0.869);
    text-align: center;

} 

.product-container img{
    width: 400px;
}

.footer-content{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgba(39, 91, 245, 0.869);
    text-align: center;
} 

.footer-content img{
    width: 300px;
    margin-bottom: 20px; 
    border-radius: 50%;
}


